{{- $jsBundle := resources.Get "js/main.ts" | js.Build | resources.Minify | fingerprint -}}
{{- $cssBundle := resources.Get "css/main.css" | resources.Minify | fingerprint -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/images/RAISE-favicon.png">
  <link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}">
  <link rel="stylesheet" href="https://k12.openstax.org/apps/raise/index.x7JfaAw2.css">
  <script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js" defer></script>
  <script type="module" crossorigin src="https://k12.openstax.org/apps/raise/index.YfMNnf10.js"></script>
  <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
</head>
<body>
  {{ partial "header" . }}
  <div class="page">
    {{ partial "nav" . }}
    <div class="content-wrapper">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </div>
  {{ partial "footer" . }}
</body>
</html>