:root {
  --header-height: 60px;
  --footer-height: 80px;
}

/* START: Moodle theme styling ported for consistency */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  /* display - flex-direction are not part of Moodle and were added in order to create a sticky footer and 
     remove hardcoding height for various elements */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 2.34375rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.640625rem;
}

h4 {
  font-size: 1.40625rem;
}

h5 {
  font-size: 1.171875rem;
}

h6 {
  font-size: 0.9375rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  margin-top: 0;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #0f6cbf;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #094478;
  text-decoration: underline;
}

blockquote {
  margin: 0 0.5rem 1rem;
  padding-left: 1rem;
  color: #495057;
  border-left: 5px solid #ced4da; }

/* END: Moodle theme styling ported for consistency */

header {
  width: 100%;
  padding: 0 1rem 0 1rem;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  z-index: 10;
}

header img {
  height: var(--header-height);
}

.page {
  margin-top: var(--header-height);
  display: flex;
  flex: 1;
}

nav li.uk-open > a .uk-nav-parent-icon {
  transform: rotateX(180deg);
  display: inline-block
}

nav .active {
  font-weight: 700;
}

nav ul {
  list-style: none;
  padding-left: 1rem;
}

nav li {
  margin-top: .5rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.content {
  max-width: 50rem;
  padding: 2rem;
  margin: auto;
}

/* Drawer / TOC Styles */
/* Any UIKit class names should remain as-is because UIKit javascript references these class names to make various
   elements interactive.*/

.drawer {
  position: fixed;
  top: calc(60px + 0.7rem);
  z-index: 2;
}

.drawer button {
  background-color: #dee2e6;
  padding: .625rem .5rem .625rem .25rem;
  border: 1px solid transparent;
  border-radius: 0 12.5rem 12.5rem 0;
  transition: padding 200ms;
  cursor: pointer;
}

.drawer button:hover {
  border: 1px solid transparent;
  padding-left:  .625rem;
  background-color: #dee2e6;
}

.uk-offcanvas-overlay {
  width: 100vw;
}

.uk-offcanvas {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.uk-offcanvas-overlay.uk-open::before {
  opacity: 1;
}

.uk-offcanvas-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000001a;
  opacity: 0;
  transition: opacity .15s linear;
}

.uk-offcanvas-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -31.25rem;
  width: 25rem;
  padding: 1.25rem 1.25rem;
  background: #222;
  overflow-y: auto;
}

.uk-offcanvas-bar-animation {
  transition: left .5s ease-out;
}

.uk-open > .uk-offcanvas-bar {
  left: 0
}

.close-button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.close-button line {
  stroke: #ffffff;
}

@media (max-width: 1599px) {
  .uk-visible\@xl {
    display: none
  }

  .uk-icon polyline {
    stroke: #fff;
  }
}

@media (min-width: 1600px) {
  .uk-hidden\@xl {
    display: none
  }
}

footer {
  background-color: black;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

footer a {
  color: gray;
  text-decoration: underline;
}

footer a:hover {
  color: gray;
}

footer p {
  margin: 0;
}
